.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
    height: 2.5rem;

}
.sticky-nav-icons{
    margin-left: 0.75rem;
}
.sticky-nav-options{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}

.divider {
    width: 1px;
    height: 1.5rem;
    background-color: aliceblue;
}



.faq-nav {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}