body {
  font-family: 'Circular Sd', sans-serif;
  /* margin: 0; */
  background-color: #000;
  color: #fff;
  /* overflow: hidden; */
  /* display: flex; */
  
}

/* .main-content{
  background-color: #121212;
  flex: 1;
  overflow: auto;
  border-radius: 1rem;
  padding: 0 0 0 1.5rem;
} */

.main {
  display: flex;
  flex-direction: row;

  
  /* height: 100vh;
  padding: 0.5rem; */
}
